* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7874bc;
    --secondary-color: #4d4c72;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 20vh;
    padding: 15px;
}

.main-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.dashboard,
.tab {
    width: 50%;
}

.tab {
    background-color: whitesmoke;
    border-bottom: solid grey 1px;
    border-left: solid grey 1px;
}

.section-header {
    text-transform: uppercase;
    margin: 0px 5px 20px;
    font-size: 1rem;
}

h1 {
    font-weight: 100;
    font-size: 1.2rem;
    margin-right: auto;
}

h1 strong {
    font-weight: 700;
}

#bell-icon {
    fill: white;
    height: 7vh;
}

#bell-div {
    border-right: solid white .5px;
    padding-right: 10px;
    margin-right: 10px;
}

.profile-img {
    border-radius: 50%;
    margin-right: 10px;
}

#member-img {
    height: 10vh;
    border-radius: 50%;
    margin-right: 10px;
}

#member-name {
    font-size: .7rem;
    font-weight: 100;
}

nav {
    grid-area: nav;
    background-color: var(--secondary-color);
    height: 15vh;
}

main {
    grid-area: main;
    display: grid;
}

.widget-container-full, .widget-container-half {
    width: 90vw;
    margin: 0 auto;
}

h2 {
    margin: 10px;
}

.alert-banner {
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    color: white;
    padding: 10px 5px;
    font-size: .75rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.traffic-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}

.traffic-nav-links {
    font-size: .75rem;
}

/* .traffic-nav-links:active {
    background-color: olivedrab;
    border-radius: 10px;
} */

section {
    border-bottom: solid rgba(0, 0, 0, 0.193) .5px;
    padding: 20px 10px;
}

.social-stats-container {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

.members-container,
.recent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.members-text,
.recent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img {
    width: 20%;
}

.form-field,
.form-area {
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#send {
    width: 100%;
    margin: 0 auto;
}

#timezone {
    width: 90%;
}

#settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-primary {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-style: none;
}

.button-disabled {
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-style: none;
}

.settings-buttons {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.settings-buttons button {
    width: 40%;
}


/*  =================================================
                    MEDIA QUERIES
    =================================================   */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
    
    .main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social-stats {
        grid-column: 1 / span 2;
    }

    .daily-traffic, 
    .new-members,
    .message-user {
        grid-column: 1 / span 1;
    }

    .mobile-users,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}

@media (min-width: 1024px) {



}
