* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7874bc;
    --secondary-color: #4d4c72;
    --neutral-light: lightgrey;
    --neutral-dark: grey;
    --active-color: #84cc8c;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 20vh;
    padding: 15px;
}

.main-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.dashboard {
    text-align: center;
    width: 40%;
}

.tab {
    width: 60%;
}

.tab {
    background-color: whitesmoke;
    border-bottom: solid var(--neutral-light) 1px;
    border-left: solid var(--neutral-light) 1px;
}

.section-header {
    text-transform: uppercase;
    margin: 10px 0px 20px 3px;
    font-size: 1rem;
}

h1 {
    font-weight: 100;
    font-size: 1.5rem;
    margin-right: auto;
}

h1 strong {
    font-weight: 700;
}

#bell-icon {
    fill: white;
    height: 5vh;
}

#bell-div {
    border-right: solid white .5px;
    padding-right: 10px;
    margin-right: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    margin-right: 10px;
}

#member-img {
    height: 10vh;
    border-radius: 50%;
    margin-right: 10px;
}

#member-name {
    font-size: .9rem;
    font-weight: 500;
}

.members-container a,
.recent-container a {
    text-decoration: none;
    color: var(--primary-color);
}

.members-container:not(:last-child),
.recent-container:not(:last-child) {
    border-bottom: .5px solid var(--neutral-light);
}

nav {
    grid-area: nav;
    background-color: var(--secondary-color);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav svg {
    height: 8vh;
    fill: white;
}

main {
    grid-area: main;
    display: grid;
}

.traffic {
    padding-top: 0px;
}

.widget-container-full, .widget-container-half {
    width: 90vw;
    display: flex;
    margin: 10px auto;
    align-items: center;
    flex-direction: row;
}

canvas {
    margin: 0 auto;
}

h2 {
    margin: 15px 5px;
    font-weight: 600;
    font-size: 1.1rem;
}

.alert-banner {
    border-radius: 5px;
    background-color: var(--primary-color);
    width: 90%;
    margin: 10px auto;
    color: white;
    padding: 10px 20px;
    font-size: .75rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.traffic-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
    margin: 10px auto;
}

.traffic-nav-links {
    font-size: .9rem;
    font-weight: 500;
    margin: 5px 0px;
    border-radius: 50%;
    padding: 10px;
}

.active {
    background-color: var(--active-color);
    color: white;
}

section {
    border-bottom: solid rgba(0, 0, 0, 0.193) .5px;
    padding: 20px;
}

.social-stats-container {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-stats-container,
.form-area,
#timezone,
.form-field {
    border: 1px solid var(--neutral-light);
}

.social-svg {
    height: 20vh;
    fill: white;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.social-stats-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.social-stats-text p:first-of-type {
    color: var(--primary-color);
}

.stats-number {
    font-size: 2.3rem;
    color: var(--neutral-dark);
}

.members-container,
.recent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.members-text,
.recent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    font-size: .75rem;
}

.profile-img {
    width: 25%;
}

.form-field,
.form-area,
#timezone {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    color: grey;
}

form {
    display: flex;
    flex-direction: column;
}

#send {
    width: 100%;
    margin: 0 auto;
}

.toggle-switch-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.toggle-div strong {
    margin: 10px 10px 10px 4px;
}

.toggle-div {
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
}

.toggles {
    width: 100%;
}

.button-primary {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    border-style: none;
}

.button-disabled {
    background-color: var(--neutral-dark);
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    border-style: none;
}

.settings-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.settings-buttons, #send {
    margin: 15px 0px 10px;
}

.settings-buttons button {
    width: 48%;
}

#settings-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*  =================================================
                    MEDIA QUERIES
    =================================================   */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
    
    main {
        grid-template-columns: 50%;
    }

    .main-header,
    .alert,
    .alert-banner,
    .traffic,
    .social-stats,
    .new-members,
    .recent-activity,
    .message-user,
    .settings {
        grid-column: 1 / span 2;
    }

    .alert-banner {
        margin: 20px auto;
    }

    .daily-traffic {
        grid-column: 1 / span 1;
    }

    .mobile-users {
        grid-column: 2 / span 1;
        border-left: solid rgba(0, 0, 0, 0.193) .5px;
    }

    .widget-container-half {
        width: 35vw;
    }

    nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav svg {
        margin: 20px;
    }

    .social-stats-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .social-stats-container {
        width: 30%;
        padding: 10px;
        justify-content: space-around;
        margin: 10px 0px;
    }

    .stats-number {
        font-size: 2.1rem;
    }

    .members-container,
    .recent-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .recent-text,
    .members-text {
        flex-direction: column;
        align-items: flex-start;
        margin-top: revert;
        margin-right: auto;
        text-align: left;
    }

    .profile-img {
        width: 15%;
    }

    .settings-buttons button {
        width: 45%;
    }

}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 50% 50%;
    }

    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
        border-left: solid rgba(0, 0, 0, 0.193) .5px;
    }
    
    .daily-traffic,
    .new-members,
    .message-user {
        grid-column: 1 / span 1;
    }

    #message-form,
    #settings-content {
        width: 90%;
        height: 80%;
        justify-content: space-between;
    }

    .settings-buttons {
        margin-bottom: 0px;
    }

    .members-content,
    .recent-content {
        height: 100%;
    }

    .members-container, 
    .recent-container {
        height: 100px;
    }
}
